.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  #btn1{
     float:right; 
     background-color: black
  }
  
  .bg{
    background-image: url('C:/Users/Mannat/Documents/Sem 5/to-do-app/src/app/bg.jpg');
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }
  .btn2{
    background-color: rgb(54, 7, 16);
    color:white;
  }
    .panel-heading1{
      background-color: #304ffe;
    }
  .panel-body1{
    color:#fdd835;
  }
 